In [6]:
import pandas as pd

# Load the data from each CSV to examine their contents and structure
data_paths = {
    "all_series_ep_average": "raw_csv_data/all-series-ep-average.csv",
    "top_seasons_full": "raw_csv_data/top-seasons-full.csv",
    "all_episode_ratings": "raw_csv_data/all-episode-ratings.csv"
}

data_frames = {name: pd.read_csv(path) for name, path in data_paths.items()}

In [7]:

{key: df.head() for key, df in data_frames.items()}

{'all_series_ep_average':         Code            Title  Rating Rating Count  Rank  Rating Mean
 0  tt7366338        Chernobyl     9.1        5,431    12     9.300000
 1  tt9253866       Our Planet     9.3        8,356     6     9.262500
 2  tt2560140  Attack on Titan     8.7      109,643    66     9.258824
 3  tt8595766  Yeh Meri Family     8.5       15,026   159     9.200000
 4  tt2395695           Cosmos     9.2       94,934     9     9.076923,
 'top_seasons_full':          Key            Title  Season  Rating Mean  Number of Episodes
 0  tt3647998            Taboo       2     9.500000                   1
 1  tt2560140  Attack on Titan       2     9.408333                  12
 2  tt0118273        Brass Eye       2     9.400000                   1
 3  tt4508902    One Punch Man       1     9.350000                  12
 4  tt0944947  Game of Thrones       4     9.330000                  10,
 'all_episode_ratings':    Unnamed: 0  Season  Episode  Rating       Code
 0           0       1        1     8.0  tt5491994
 1           1       1        2     7.3  tt5491994
 2           2       1        3     6.9  tt5491994
 3           3       1        4     6.8  tt5491994
 4           4       1        5     6.8  tt5491994}

In [8]:

{key: df.info() for key, df in data_frames.items()}

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Code          250 non-null    object
 1   Title         250 non-null    object
 2   Rating        250 non-null    float64
 3   Rating Count  250 non-null    object
 4   Rank          250 non-null    int64
 5   Rating Mean   249 non-null    float64
dtypes: float64(2), int64(1), object(3)
memory usage: 11.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 976 entries, 0 to 975
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Key                 976 non-null    object
 1   Title               976 non-null    object
 2   Season              976 non-null    int64
 3   Rating Mean         976 non-null    float64
 4   Number of Episodes  976 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 38.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19914 entries, 0 to 19913
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  19914 non-null  int64
 1   Season      19914 non-null  int64
 2   Episode     19914 non-null  int64
 3   Rating      19914 non-null  float64
 4   Code        19914 non-null  object
dtypes: float64(1), int64(3), object(1)
memory usage: 778.0+ KB

{'all_series_ep_average': None,
 'top_seasons_full': None,
 'all_episode_ratings': None}

In [9]:

{key: df.describe() for key, df in data_frames.items()}

{'all_series_ep_average':            Rating        Rank  Rating Mean
 count  250.000000  250.000000   249.000000
 mean     8.624800  125.500000     8.261322
 std      0.231862   72.312977     0.592163
 min      8.300000    1.000000     5.466667
 25%      8.500000   63.250000     8.060135
 50%      8.600000  125.500000     8.403333
 75%      8.700000  187.750000     8.629630
 max      9.500000  250.000000     9.300000,
 'top_seasons_full':            Season  Rating Mean  Number of Episodes
 count  976.000000   976.000000          976.000000
 mean     4.848361     8.091531           20.403689
 std      5.059599     0.725686           38.547459
 min      1.000000     2.216667            1.000000
 25%      1.000000     7.758636            9.000000
 50%      3.000000     8.247077           13.000000
 75%      6.000000     8.575481           22.000000
 max     30.000000     9.500000          883.000000,
 'all_episode_ratings':          Unnamed: 0        Season       Episode        Rating
 count  19914.000000  19914.000000  19914.000000  19914.000000
 mean     446.666516      6.008938     47.077232      7.720563
 std      797.057444      6.007572    107.218654      0.960648
 min        0.000000      1.000000      1.000000      2.100000
 25%       27.000000      2.000000      6.000000      7.200000
 50%       90.000000      4.000000     13.000000      7.800000
 75%      418.000000      8.000000     40.000000      8.400000
 max     3591.000000     30.000000    883.000000      9.900000}